body, hr, blockquote, summary, details {
    max-width: 65ch;
}

blockquote {
    padding-left: 1em;
    margin-left: 0;
    font-style: italic;
    border-left: 6px solid #eee;
}

hr {
    height: 1px;
    border: none;
    background: linear-gradient(to right, transparent, #000, transparent);
}

code {
    font-family: Melno,Consolas,monospace;
    font-size: .75rem;
    border-radius: 6px;
    padding: .125rem .25rem;
    color: #9f4511;
    background-color: #f2f4f4;
    border: 1px solid #e8eaec;
}

pre {
    font-family: Melno,Consolas,monospace;
    background: none;
    border: none;
}

.codehilite {
    /*border-left: 1px solid #999;*/
    /*max-width: none !important;*/
    padding: 20px;
    border-radius: 6px;
    overflow: auto;
    width: fit-content;
}

.codehilite pre {
    color: #D4D4D4 !important;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1rem !important;
    width: fit-content !important;
    max-width: none;
    overflow: auto;
    /*max-width: none !important;*/
}

.cm {
    color: #999 !important;
}

summary {
    background: #0D76BD;
    color: #fff;
    padding: 1em;
    border-radius: 6px 6px 0 0;
}

details {
    margin-bottom: 5px;
}

.collapsible-content {
    padding: 1em 2em;
    border: 0.5px solid #999;
    border-radius: 0 0 6px 6px;
}

.collapsible-content pre {
    overflow-x: auto;
    overflow-y: hidden;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #888888;
    padding: 8px 16px;
}

table th {
    background: #0D76BD;
    color: #fff;
}

.side-block {
    max-width: 65ch;
    padding: 8px 16px;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    border-left: 0.5em solid;
}